* {
	border: 0;
	margin: 0;
	padding-left: 0;
}
body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}
footer {
	height: auto;
	margin: 1em 0 1em 0;
	text-align: left;
}
footer ul li {
	display: inline-block;
	font-size: .8em;
	margin: 0 .3em 0 .3em;
	padding: 0 0 0 1em;
	vertical-align: top;
}
footer ul li a {
	color: #000;
	text-decoration: none;
}
footer ul li a:hover {
	color: #000;
	text-decoration: underline;
}
h1 {
	color: #FFF;
	margin: 0;
	padding: 0;
}
nav {
	height: auto;
	width: 100%;
}
nav ul li {
	display:  inline-block;
	font-size: .8em;
	padding: .3em 0 .3em 1em;
}
nav ul li a {
	color: #000;
	text-decoration: none;
}
nav ul li a:hover {
	color: #000;
	text-decoration: underline;
}
.CuerpoDetali {
	background-image: url(../images/bg-camisas.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetalitrajes {
	background-image: url(../images/bg-trajes.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetalicorbatas {
	background-image: url(../images/bg-corbatas.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetalipantalones {
	background-image: url(../images/bg-pantalones.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetalizapatos {
	background-image: url(../images/bg-zapatos.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetalicinturones {
	background-image: url(../images/bg-cinturones.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.CuerpoDetaliaccesorios {
	background-image: url(../images/bg-accesorios.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
.LogoDetali {
	padding: 1em 0 0 0;
	text-align: right;
}
.Galeria {
	box-sizing: border-box;
	height: auto;
	margin: 2em 0 1em 0;
	padding: 2em 0 2em 0;
	text-align: center;
	width: 100%;
}
.Galeria a {
    color: #FFF;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}
.Galeria a:hover {
    color: #DDD;
    text-transform: uppercase;
    display: block;
    text-decoration: underline;
}
.Gal1 {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #FFF;
	height: auto;
	display: inline-block;
	margin: 0 2em 0 2em;
	padding: 0 .3em 1.5em .3em;
	vertical-align: top;
	width: 25%;
}
.Gal1 h2 {

	font-size: 1.2em;
	font-weight: 100;
	margin: 1.7em 0 .3em 0;
}
.Gal1 img {
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	height: auto;
	margin: 0 0 1em 0;
	width: 100%;
}
.Gal1 p, .Gal2 p, .Gal3 p {
	font-size: .9em;
	text-align: left;
	font-weight: 100;
	text-align: justify;
	line-height: 1.5em;
	padding: 0 1em 0 1em;
}
.Gal2 {
	color: #FFF;
	height: auto;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0 .3em 1.5em .3em;
	display: inline-block;
	margin: 0 2em 0 2em;
	vertical-align: top;
	width: 25%;
}
.Gal2 h2 {
	font-size: 1.2em;
	font-weight: 100;
	margin: 1.5em 0 .3em 0;
}
.Gal2 img {
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	height: auto;
	margin: 0 0 1em 0;
	width: 100%;
}
.Gal3 {
	color: #FFF;
	height: auto;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0 .3em 1.5em .3em;
	display: inline-block;
	margin: 0 2em 0 2em;
	vertical-align: top;
	width: 25%;
}
.Gal3 h2 {
	font-size: 1.2em;
	font-weight: 100;
	margin: 1.5em 0 .3em 0;
}
.Gal3 img {
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	height: auto;
	margin: 0 0 1em 0;
	width: 100%;
}
.Titulo a {
	background-color: orange;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	color: #FFF;
	padding: 0 .5em 0 .5em;
	text-decoration: none;
}
.Titulo a:hover {
	opacity: .6;
}
.Titulo h1 {
	font-family: 'Voltaire', sans-serif;
	font-size: 3em;
	margin: 1em 0 .7em 0;
	text-align: center;
}
.Titulo h2 {
	color: #FFF;
	font-size: 1em;
	text-align: center;
}
.Redes {
	height: auto;
	margin:  2em 0 1em 0;
	text-align: center;
}
.Redes ul {
	height: auto;
	padding: .5em 0 .5em 0;
}
.Redes li {
	display: inline-block;
	vertical-align: top;
	width: 3%;
}
.Redes li:hover {
	opacity: .6;
}
.TextoPie {
	color: #FFF;
	font-size: .8em;
	font-weight: 100;
	padding: 1em 0 1em 0;
	text-align: center;
}
.TextoPie a {
	color: #FFF;
	text-decoration: none;
}
.TextoPie a:hover {
	color: #FFF;
	text-decoration: underline;
}
.ContenedorSingle {
    background-color:  rgba(0, 0, 0, .5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: auto;
    margin: auto;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
    width: 55%;
}
.ContenedorSingle h2 {
    color: #FFF;
    font-size: 1.5em;
    margin: 1em 0 .5em 0;
}
.ContenedorSingle p {
    color: #FFF;
}
.ContenedorPosts {
    border: solid 5px red;
}
.ContenedorSingle img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: auto;
    margin: 1em 0 2em 0;
    width: 50%;
}
.Permalink a {
    color: #FFF;
    text-decoration: none;
}
.Permalink a:hover {
    color: #DDD;
}

@media screen and (max-width: 480px){
	.CuerpoDetali {
		display: none;
	}
	.Galeria {
		height: auto;
		margin: 2em 0 1em 0;
		padding: 0px;
		width: 100%;
	}
	.Gal1 {
		height: auto;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	.Gal1 img {
		height: auto;
		width: 80%;
	}
	.Gal2 {
		height: auto;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	.Gal2 img {
		height: auto;
		width: 80%;
	}
	.Gal3 {
		height: auto;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	.Gal3 img {
		height: auto;
		width: 80%;
	}
	.Redes ul li {
		margin: 0 1em 0 1em;
	}
	.Titulo {
		line-height: 3.5em;
	}
	.Titulo h2 {
		margin: -2.5em 0 0 0;
	}
	.LogoDetali {
		text-align: center;
	}
}
@media screen and (max-width: 640px){
	.Redes li {
		margin: 0 .7em 0 .7em;
	}
}
@media screen and (max-width: 768px){
	.Gal1 {
		height: auto;
		margin: 0;
		padding: 0;
		width: 70%;
	}
	.Gal2 {
		height: auto;
		margin: 0;
		padding: 0;
		width: 70%;
	}
	.Gal3 {
		height: auto;
		margin: 0;
		padding: 0;
		width: 70%;
	}
	.Redes li {
		margin: 0 .7em 0 .7em;
	}
}














